button {
    background-color:white ;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
}

button:hover {
    background-color: black;
    color: white;

}

img {
    display: block;
    margin: 20px;

}

div {
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    margin: 10px;
    min-height: 260px;
    display: inline-block;

}

@media only screen and (max-width: 250px) {
   
    }
    div {
        width:80vw;
        min-width: 20px;
    }

    img {
        width: 80vw;
        margin: 0 auto;
    }
    button{
        font-size: 15px;
        margin-bottom: 3vh;

    }
}