html {
    background:orangered;
    font-family: 'Abril Fatface', cursive;
    margin: 10px;

}
h1{
    color: red;
    background: black;
}
img {
    border-radius: 60px;
}
form
{
outline: #4CAF50 solid 10px;
Border: solid white;
width: 500px;
padding: 30px;
margin: 30px;

}
.form-label {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.bild {
    outline: #4CAF50 solid 10px;
    width: 250px;
    height: 220px;
}
.form-label {
    width: 100px;
    height: 35px;
    font-size: 18px;
    padding: 3px;

}
input[type="submit"]{    
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1rem;
    background: white;
    border: none;
}
table{
    position: relative;
    left: 25%;

}
table th {
    border-bottom: 1px dotted black;
}
table td{
    border: 1px solid black;
    background: lightgray;
}

table tr:nth-child(odd){
    background: white;
} 
